@font-face {
  font-family: "druk";
  src: url("../fonts/DrukCond-Super-Trial.otf") format("opentype");
}
@font-face {
  font-family: "graphik";
  src: url("../fonts/GraphikRegular.otf") format("opentype");
}

:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgba(210, 210, 210, 0.5);
  --tertiary: rgb(31, 81, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "graphik", sans-serif;
  background-color: rgb(19, 19, 19);
  font-size: 10px;
  color: var(--primary);
  max-width: 1600px;
  padding: 0 16px;
  margin: 0 auto;
  overflow-x: hidden;
}
::selection {
  background-color: var(--secondary);
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "druk", sans-serif;
  font-weight: 700;
}

header {
  font-family: "druk", sans-serif;
  text-transform: uppercase;
  font-size: 34px;
  border-bottom: 4px solid var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 32px;
  color: var(--primary);
}
h1 {
  font-size: 72px;
  font-family: "druk", sans-serif;
  text-transform: uppercase;
  line-height: 0.9;
}

header nav ul {
  display: flex;
  gap: 24px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-decoration: none;
  color: var(--primary);
}
main {
  margin-top: 1rem;
}
#about {
  font-size: 72px;
  font-family: "druk", sans-serif;
  text-transform: uppercase;
  color: var(--secondary);
  line-height: 0.9;
}
#about span {
  color: var(--primary);
}
#about span:hover {
  color: var(--tertiary);
  transition: 0.3s;
}

a:hover {
  color: var(--tertiary);
  text-decoration: none;
  transition: 0.3s;
}
hr {
  border: 0.25px solid rgba(194, 194, 194, 0.05);
  margin-top: 1rem;
}

#portfolio {
  margin-top: 1rem;
}
.mySwiper {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--tertiary) rgba(194, 194, 194, 0.1);
  scroll-snap-type: x mandatory;
}

.mySwiper-wrapper {
  position: relative;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.swiper-slide {
  scroll-snap-align: start;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#project-info {
  width: 100%;
  margin-top: 0.25rem;
  display: flex;
  justify-content: space-between;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  transition: filter 0.5s ease;
}
.swiper-slide:hover img {
  filter: none;
}
.pixelate {
  filter: blur(3px);
}
#tags {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tag {
  display: flex;
  font-size: 10px;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--primary);
}
#contact {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact div {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
#contact a {
  text-decoration: none;
  color: var(--primary);
}
#contact a:hover {
  color: var(--tertiary);
  transition: 0.3s;
}
footer {
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  header {
    font-size: 24px;
  }
  main {
    padding: 1rem;
  }
}
